Node-Red/Tesis_V2.json
[{"id":"9a78fc9c.ec8ec8","type":"tab","label":"Programa V2 Tesis","disabled":false,"info":""},{"id":"284c9ca6.f3cbd4","type":"LCD-I2C","z":"9a78fc9c.ec8ec8","name":"","variant":"PCF8574","size":"20x4","x":480,"y":260,"wires":[]},{"id":"1f42b133.ba25bf","type":"comment","z":"9a78fc9c.ec8ec8","name":"//----Manejo del LCD----","info":"https://flows.nodered.org/node/node-red-contrib-pcf8574-lcd#msgaction","x":160,"y":200,"wires":[]},{"id":"64e60135.5f6d08","type":"inject","z":"9a78fc9c.ec8ec8","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"actualizar","payloadType":"str","x":150,"y":260,"wires":[["6e926233.6160e4"]]},{"id":"6e926233.6160e4","type":"function","z":"9a78fc9c.ec8ec8","name":"","func":"//Guardo valores de las variables flow en varialbes tipo node\nvar corriente=String(flow.get('corriente'));\nvar temp_gab=String(flow.get('temp_caja'))+' C';\nvar temp_agua=String(flow.get('temp_agua'))+' C';\n\n//Armo fotmato json para manejar LCD\nmsg.payload=[\n    {\n        \"clear\":true,\n        \"text\":\"T H2O: \"+temp_agua,\n        \"alignment\":\"left\"\n        \n    },\n    {\n        \"clear\":true,\n        \"text\":\"T Gab: \"+temp_gab,\n        \"alignment\":\"left\"\n        \n    },\n    {\n        \"clear\":true,\n        \"text\":\"Corriente: \"+corriente,\n        \"alignment\":\"left\"\n        \n    },\n    {\n        \"clear\":true,\n        \"text\":\"Entrega Final\",\n        \"alignment\":\"center\"\n        \n    }\n]\n\n//Retorno de mensaje\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":260,"wires":[["284c9ca6.f3cbd4"]]},{"id":"dbafe1f9.062088","type":"function","z":"9a78fc9c.ec8ec8","name":"","func":"flow.set('temp_agua',msg.payload);\nmsg.tempAgua=msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":580,"wires":[["b57ddc76.b143d8"]]},{"id":"dfa669e4.aa2188","type":"comment","z":"9a78fc9c.ec8ec8","name":"//----ADC----","info":"","x":130,"y":340,"wires":[]},{"id":"714ee17.ce15f2","type":"comment","z":"9a78fc9c.ec8ec8","name":"//----Termocupla----","info":"","x":150,"y":540,"wires":[]},{"id":"34f79842.ceb188","type":"comment","z":"9a78fc9c.ec8ec8","name":"Notas","info":"Manejo LCD: Actualiza valores en el lcd\n\nADC: Lee los canales en el adc y los guarda en variables a nivel flow\n\nTermocupla: Lee el sensor termocupla db y guarda su valor en una variable a nivel               flow","x":90,"y":20,"wires":[]},{"id":"398309f5.fb37fe","type":"rpi-ds18b20","z":"9a78fc9c.ec8ec8","topic":"","array":false,"name":"","x":310,"y":580,"wires":[["dbafe1f9.062088"]]},{"id":"244450ec.037868","type":"serial in","z":"9a78fc9c.ec8ec8","name":"Receptor","serial":"82c8c3a.f39a04","x":120,"y":940,"wires":[["161d7da1.e54ca2"]]},{"id":"793e9d89.c91b5c","type":"rpi-gpio out","z":"9a78fc9c.ec8ec8","name":"","pin":"16","set":"","level":"0","freq":"","out":"out","x":320,"y":760,"wires":[]},{"id":"10680ba3.cdc6bc","type":"rpi-gpio out","z":"9a78fc9c.ec8ec8","name":"","pin":"18","set":"","level":"0","freq":"","out":"out","x":320,"y":820,"wires":[]},{"id":"d2089220.5b8b28","type":"inject","z":"9a78fc9c.ec8ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"0","payloadType":"num","x":150,"y":800,"wires":[["793e9d89.c91b5c","10680ba3.cdc6bc"]]},{"id":"8f98b762.d75408","type":"comment","z":"9a78fc9c.ec8ec8","name":"//----Puerto Serial Modo Esclavo Rs485----","info":"","x":220,"y":700,"wires":[]},{"id":"d0a14a88.3221c8","type":"pimcp3008","z":"9a78fc9c.ec8ec8","name":"","dev":"3008","pin":"M","dnum":"0","bus":"0","x":300,"y":400,"wires":[["5b7361a1.7ee2f"]],"info":"https://flows.nodered.org/node/node-red-node-pi-mcp3008"},{"id":"2c737db6.9cd502","type":"inject","z":"9a78fc9c.ec8ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"0","payloadType":"str","x":140,"y":400,"wires":[["d0a14a88.3221c8"]]},{"id":"1e1fc836.fe8dd8","type":"inject","z":"9a78fc9c.ec8ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.01","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"1","payloadType":"str","x":140,"y":460,"wires":[["d0a14a88.3221c8"]]},{"id":"5b7361a1.7ee2f","type":"function","z":"9a78fc9c.ec8ec8","name":"","func":"//Determino el canal que se leyo en el adc y guardo su valor en una variable a nivel flow\nif(msg.topic==\"adc/0\"){\n    flow.set('cont1',flow.get('cont1')+1);\n    voltage=(3.3/1024)*msg.payload;\n    var corriente=((voltage-1.64)/0.066);\n    if(corriente>flow.get('iMax')){ //Max Corriente\n        flow.set('iMax',corriente);\n    }\n    if(corriente<flow.get('iMin')){ //Min corriente\n    \tflow.set('iMin',corriente);\n    }\n    if(flow.get('cont1')==700){\n        //Inicializo a 0 para volver a calcular promedio\n        flow.set('cont1',0);\n        msg.prom=((flow.get('iMax')-flow.get('iMin'))/2);\n        if((flow.get('iMin')==0 && flow.get('iMax')!=0)||(flow.get('iMin')!=0 && flow.get('iMax')==0)||msg.prom<0.5){ //esto significa que no hay semiciclo negativo y por ende es una medida falsa\n            flow.set('corriente',0);\n            msg.prom=0;\n            msg.iM=flow.get('iMax');\n            msg.im=flow.get('iMin');\n            flow.set('corriente',0);\n            flow.set('iMax',0);\n            flow.set('iMin',0);\n            return msg; \n        }\n        msg.prom=((flow.get('iMax')-flow.get('iMin'))/2);\n        msg.iM=flow.get('iMax');\n        msg.im=flow.get('iMin');\n        flow.set('corriente',msg.prom);\n        flow.set('iMax',0);\n        flow.set('iMin',0);\n        return msg;\n    }\n    //return msg\n}\nif(msg.topic==\"adc/1\"){\n    flow.set('cont2',flow.get('cont2')+1);\n    flow.set('ch_1',flow.get('ch_1')+msg.payload);\n    if(flow.get('cont2')==500){\n        msg.tempCaja=flow.get('ch_1')/(12.379*flow.get('cont2')); //Promedio de 100 muestras, el 12.379 es un factor de correcion por la conversion del adc\n        flow.set('temp_caja',msg.tempCaja);\n        //Inicializo a 0 para volver a calcular promedio\n        flow.set('cont2',0);\n        flow.set('ch_1',0);\n        return msg;\n    }\n}\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":400,"wires":[["40e5e704.9ae008","9c72527.82d4b3","e331ebcd.fd553","1b6185be.4e0712"]]},{"id":"5795352a.f8ab3c","type":"debug","z":"9a78fc9c.ec8ec8","name":"","active":false,"console":"false","complete":"payload","x":690,"y":1060,"wires":[]},{"id":"d5341e69.ef974","type":"MSSQL","z":"9a78fc9c.ec8ec8","mssqlCN":"f0558e6.872d27","name":"MSSQL","query":"","outField":"payload","x":520,"y":1060,"wires":[["5795352a.f8ab3c"]]},{"id":"161d7da1.e54ca2","type":"function","z":"9a78fc9c.ec8ec8","name":"ConsultasSQL","func":"//Determino el canal que se leyo en el adc y guardo su valor en una variable a nivel flow\nif(msg.payload==\"a\"){//Ingreso una piezas a la caja\n    msg.payload=\"INSERT INTO Piezas_Scraps (SIM,Fecha) VALUES (\"+flow.get('nroMaquina')+\",GETDATE())\";\n}else if(msg.payload==\"b\"){//Se abrio la puerta trasera\n    msg.payload=\"UPDATE Avisos_Importantes SET Abertura=1, Max_Piezas=0 WHERE SIM=\"+flow.get('nroMaquina');\n}else if(msg.payload==\"c\"){//Se cerro la puerta trasera\n    msg.payload=\"UPDATE Avisos_Importantes SET Abertura=0 WHERE SIM=\"+flow.get('nroMaquina');\n}else if(msg.payload==\"f\"){//Se violo la seguridad de la caja\n    msg.payload=\"UPDATE Avisos_Importantes SET Violacion=1 WHERE SIM=\"+flow.get('nroMaquina');\n}else if(msg.payload==\"e\"){//Se dejo de violar la seguridad de la caja\n    msg.payload=\"UPDATE Avisos_Importantes SET Violacion=0 WHERE SIM=\"+flow.get('nroMaquina');\n}else if(msg.payload==\"d\"){//Se lleno la caja de piezas\n    msg.payload=\"UPDATE Avisos_Importantes SET Max_Piezas=1 WHERE SIM=\"+flow.get('nroMaquina');\n}\nelse{\n    msg.payload=\"\";\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":940,"wires":[["f6cd8b4e.079c78","d5341e69.ef974"]]},{"id":"f6cd8b4e.079c78","type":"debug","z":"9a78fc9c.ec8ec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":940,"wires":[]},{"id":"fac7bd04.a9d19","type":"rpi-gpio in","z":"9a78fc9c.ec8ec8","name":"","pin":"33","intype":"tri","debounce":"25","read":false,"x":110,"y":1040,"wires":[["eedc2a93.4ca97"]]},{"id":"6bfbffb7.d15bd","type":"rpi-gpio in","z":"9a78fc9c.ec8ec8","name":"","pin":"35","intype":"tri","debounce":"25","read":false,"x":110,"y":1100,"wires":[["eedc2a93.4ca97"]]},{"id":"eedc2a93.4ca97","type":"function","z":"9a78fc9c.ec8ec8","name":"ProdAlmacenado","func":"//Determino el canal que se leyo en el adc y guardo su valor en una variable a nivel flow\nmsg.payload=\"SP_registrarPieza \"+flow.get('nroMaquina')+\",0\";\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":1060,"wires":[["d5341e69.ef974"]]},{"id":"6b774ca2.1f71a4","type":"rpi-gpio in","z":"9a78fc9c.ec8ec8","name":"","pin":"38","intype":"tri","debounce":"25","read":false,"x":110,"y":1240,"wires":[["d54a5e6a.602488"]]},{"id":"b6b4a151.4a6b7","type":"comment","z":"9a78fc9c.ec8ec8","name":"//----Alarma----","info":"","x":130,"y":1180,"wires":[]},{"id":"f7141ae.3a0ca68","type":"comment","z":"9a78fc9c.ec8ec8","name":"Conversor logico/ PWM(set en modulo de pin)","info":"","x":230,"y":1340,"wires":[]},{"id":"d09262aa.72aaa8","type":"inject","z":"9a78fc9c.ec8ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":120,"y":1460,"wires":[["66943c95.3975fc"]]},{"id":"66943c95.3975fc","type":"rpi-gpio out","z":"9a78fc9c.ec8ec8","name":"","pin":"29","set":"","level":"0","freq":"","out":"pwm","x":300,"y":1420,"wires":[]},{"id":"70e99474.cca56c","type":"inject","z":"9a78fc9c.ec8ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"str","x":120,"y":1500,"wires":[["66943c95.3975fc"]]},{"id":"df1a6842.28df1","type":"inject","z":"9a78fc9c.ec8ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"100","payloadType":"str","x":120,"y":1540,"wires":[["66943c95.3975fc"]]},{"id":"aa45b50d.1504b","type":"inject","z":"9a78fc9c.ec8ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":120,"y":1420,"wires":[["66943c95.3975fc"]]},{"id":"d54a5e6a.602488","type":"rpi-gpio out","z":"9a78fc9c.ec8ec8","name":"","pin":"40","set":"","level":"0","freq":"","out":"out","x":300,"y":1240,"wires":[]},{"id":"78b8b8a3.021e48","type":"inject","z":"9a78fc9c.ec8ec8","name":"Constantes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.01","topic":"","payload":"","payloadType":"str","x":150,"y":140,"wires":[["fa4191dd.1e109"]]},{"id":"fa4191dd.1e109","type":"function","z":"9a78fc9c.ec8ec8","name":"","func":"flow.set('nroMaquina','100'); //Nro de la maquina a escribir\nflow.set('ceroCorriente',511); //Ubico mi o amper en bits\n//Varibles para calculo de corriente en ch_0\nflow.set('cont1',0); //Contador para calcular promedio de corriente del adc 0\nflow.set('ch_0',0); //Valor para guardar ch_0 del adc\nflow.set('iMax',0); //Pico de corrietne maximo\nflow.set('iMin',0);//Pico de corrietne minimo\nflow.set('corriente',0); //Corriente promedio\n\n//Variables para calculo de temp en ch_1\nflow.set('ch_1',0); //Valor para guardar ch_1 del adc\nflow.set('cont2',0); //contador para promedio de temp en ch_1\nflow.set('temp_caja',0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":140,"wires":[[]]},{"id":"7abf119d.c3bd1","type":"comment","z":"9a78fc9c.ec8ec8","name":"//----Cosntantes----","info":"","x":150,"y":80,"wires":[]},{"id":"40e5e704.9ae008","type":"debug","z":"9a78fc9c.ec8ec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"prom","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":400,"wires":[]},{"id":"9c72527.82d4b3","type":"debug","z":"9a78fc9c.ec8ec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tempCaja","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":440,"wires":[]},{"id":"b57ddc76.b143d8","type":"debug","z":"9a78fc9c.ec8ec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tempAgua","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":580,"wires":[]},{"id":"5505462f.302268","type":"inject","z":"9a78fc9c.ec8ec8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"","payloadType":"str","x":130,"y":580,"wires":[["398309f5.fb37fe"]]},{"id":"781861c7.bd3f5","type":"comment","z":"9a78fc9c.ec8ec8","name":"Problema 1","info":"Esta parte suele tener problemas con el mcp3008\nni idea de porque pero suele serel inject","x":130,"y":620,"wires":[]},{"id":"e331ebcd.fd553","type":"debug","z":"9a78fc9c.ec8ec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"im","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":520,"wires":[]},{"id":"1b6185be.4e0712","type":"debug","z":"9a78fc9c.ec8ec8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"iM","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":480,"wires":[]},{"id":"955d9b72.d0ade","type":"comment","z":"9a78fc9c.ec8ec8","name":"//----BBDD SQL----","info":"","x":150,"y":880,"wires":[]},{"id":"82c8c3a.f39a04","type":"serial-port","serialport":"/dev/ttyAMA0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"f0558e6.872d27","type":"MSSQL-CN","name":"SQLserver","server":"192.168.0.108","encyption":false,"database":"Tesis"}]